{
    "presets": [
        ["@babel/preset-env", {
            "exclude": ["transform-async-to-generator", "transform-regenerator"],
            "loose": true
        }],
        "@babel/preset-react"
    ],
    "env": {
        "development": {
            "presets": [
                ["@babel/preset-react", { "development": true }]
            ]
        }
    },
    "plugins": [
        ["module:fast-async", { "spec": true }]
    ]
}
