@import "../../themes.less";

.list {
    &-container {
        list-style: none;
        padding: 0;
    }

    &-item {
        background: @background;
        padding: 12px;
        margin-bottom: 12px;
        border-radius: 6px;
        box-shadow: 0 0 15px -4px rgba(34, 60, 80, 0.1);
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &__title {
            position: relative;
        }

        &__progress {
            height: 100%;
            bottom: 0;
            position: absolute;
            left: 0;
        }
    }
}